*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    color: #1B368B;
    display: grid;
    align-content: space-between;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(26, 46, 143, 0.1);
    backdrop-filter: blur(5px); 
    z-index: -1;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check {
    display: none;
}
.icone{
    position:absolute;
    right: 5%;
    font-size : 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media(max-width:2000px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media(max-width: 1100px){
    .icone{
        display: inline-flex;
    }
    #check:checked~.icone #menu-icone{
        display: none;
    }
    .icone #close-icone {
        display: none;
    }
    #check:checked~.icone #close-icone{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:0;
        background: rgba(26, 46, 143, 0.1);
        backdrop-filter: blur(5px);
        box-shadow: 0.5rem 1rem rgba(27, 17, 94, 0.1) ;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

.bienvenue{
    max-width: 1200px;
    padding: 16px;
    margin:auto;
    margin-top: 180px;
    text-align: center;
}
.bienvenue .titre{
    font-size: 50px;
    color :#E7D63F
}
.bienvenue .bouton1{
    margin-top: 30px;
}
.bouton1{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #1B368B;
    background: #E7D63F;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
}
.bouton1 a{
    text-decoration: none;
    color: #1B368B;
}
#nous .container{
    width: 90%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
    margin-top: 30px;
}
#nous .container .nous-contenu{
    margin-top: 10%;
    align-items: center;
    padding-left: 50px;
}
#nous .container .nous-contenu h4{
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
#nous .container .nous-contenu h1{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;
}
#nous .container .nous-contenu p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
#nous .container .nous-image{
    margin-left: 12%;
    overflow: hidden;
    display: flex;
    display: grid;
    grid-gap: 5px 30px;
    font-size: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(153, 140, 191));
}
#nous .container .nous-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

#palmares .container{
    width: 90%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
    margin-top: 30px;
}
#palmares .container .palmares-contenu{
    margin-top: 10%;
    align-items: center;
    padding-left: 50px;
}
#palmares .container .palmares-contenu h4{
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    font-family: "Alfa Slab One", serif;
    font-weight: 100;
    font-style: normal;

}
#palmares .container .palmares-contenu h1{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;
}
#palmares .container .palmares-contenu p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
#palmares .container .palmares-image{
    margin-left: 12%;
    overflow: hidden;
    display: flex;
    display: grid;
    grid-gap: 5px 30px;
    font-size: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(153, 140, 191));
    text-align: right;
}
#palmares .container .palmares-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

#photos {
    min-height: 300px;
    background-image: url("image_compet_2.jpg");
    background-position:center;
    background-size: cover;
}
#photos .container {
    max-width: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}


@media (max-width: 1500px){
    #nous .container .nous-contenu{
        padding-left: 10%;
        margin-top: 3%;
    }
    #nous .container .nous-image{
        margin-left: 10%;
        overflow: hidden;
        font-size: 12px;
    }
    #nous .container .nous-contenu p{
        padding-bottom: 0px;
    }    
    #palmares .container .palmares-contenu{
        padding-left: 10%;
        margin-top: 3%;
    }
    #palmares .container .palmares-image{
        margin-left: 10%;
        overflow: hidden;
        font-size: 12px;
    }
}
@media (max-width: 1100px){
    #nous .container{
        width:90%;
        grid-template-columns: 1fr;
    }
    #nous .container .nous-contenu{
        padding-left: 10%;
        margin-top: 0%;
    }
    #nous .container .nous-contenu p{
        padding-bottom: 15px;
    } 
    #nous .container .nous-image{
        font-size: 9px;
    }
    #palmares .container{
        width:90%;
        grid-template-columns: 1fr;
    }
    #palmares .container .palmares-contenu{
        padding-left: 10%;
        margin-top: 0%;
    }
    #palmares .container .palmares-image{
        font-size: 9px;
    }
    footer .container{
        flex-direction: column;
        gap:16px;
    }
}
.pimg0{
    background-image: url(equipe.png);
    min-height: 200px;
}
.pimg1{
    
    width:100%;
    background: url(IMG_20240203_114234.jpg);
    background-size:cover;
    background-position: center; 
    min-height: 425px;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pimg2{
    background-image: url(IMG-20240406-WA0045.jpg);
    min-height: 200px;
}

.pimg4{
    background-image: url(IMG-20240406-WA0033.jpg);
    min-height: 200px;
}

.pimg5{
    background-image: url(lyceedelacotierelaboisse01.jpg);
    min-height: 200px;
}

.pimg6{
    background-image: url(photo2equipes.jpg);
    min-height: 200px;
}



.pimg0, .pimg2, .pimg4, .pimg5, .pimg6{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.textbg{
    background-color: #1B368B;
    color: white;
    padding: 20px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.95;
}

.section{
    text-align: center;
    padding: 20px 80px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
}

.section_sponsor{
    text-align: center;
    padding-top: 100px;

    padding-bottom: 100px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
}



#logo{
   padding: 10px;
}

.countdown{
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boite{
    width: 210px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #E7D63F;
    color: #1B368B;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.valeur{
    font-family: "Alfa Slab One", serif;
    font-weight: 1000px;
    display: block;
    font-size: 70px;
    
}

.unite{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01px;
    text-transform: uppercase;
}

.sectioncountdown{
    background-color: #E7D63F;
    color:#1B368B;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 20px;
    font-family: "Alfa Slab One", serif;
    font-weight:lighter;
    font-style:normal;
    letter-spacing: 2.5px;
    font-size: 40px;
    text-transform: uppercase;
}

.sectioncountdown2{
    background-color: #E7D63F;
    display: block;
    padding: 30px;
}

.sectionapropos{
    background-color: #1B368B;
    display: block;
    padding: 30px;
}

.sectionphotos{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
}
.sectionfooter{
    background-color: #1B368B;
    display: block;
    padding: 1px;
}
.photos{
    position: relative;
    height: 300px;
    background-position: center;
}














.alfa-slab {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;

  }

.bai-jamjuree-semibold {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01px;
  }

.bai-jamjuree-extralight {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

.bai-jamjuree-bold {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

footer .container{
    display:flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
}
footer .container p{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01px;
    margin-bottom: -3px;
}
footer .container a{
    margin-bottom: -5.5px;
}